[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    import-outside-toplevel,
    no-member,
    broad-exception-caught,
    broad-exception-raised,
    raise-missing-from,
    global-variable-not-assigned,
    protected-access,
    unused-argument,
    redefined-outer-name,
    reimported,
    no-else-return,
    use-maxsplit-arg,
    consider-using-in,
    line-too-long,
    too-few-public-methods,
    too-many-instance-attributes,
    too-many-arguments,
    too-many-positional-arguments,
    too-many-locals,
    too-many-return-statements,
    too-many-branches,
    too-many-statements,
    too-many-lines,
    duplicate-code,
    cyclic-import,
    inconsistent-return-statements
